#preHeader {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 175px;
    z-index: 100;

    &:hover + header {
        top: 5%;
    }
}

header {
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 73.125%;
    max-width: 1200px;
    min-width: 880px;
    height: 7%;
    display: grid;
    grid-template-columns: 21.375% 57.25% 21.375%;
    gap: 2.56%;
    transition: ease-out .5s;
    z-index: 101;

    &:hover {
        top: 5%;
    }

    #logoWrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 102;


        #logo {
            width: 95%;
            background-image: url(../img/logo.svg);
            background-size: 100%;
            background-position: center; 
            background-repeat: no-repeat;
            z-index: 103;   
        }
    }

    #nav {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
        z-index: 104;   

        .navEl {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            z-index: 105;
            cursor: pointer;   
            
            label {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 0fr 1fr;
                justify-content: center;
                align-items: center;
                transition: ease-in-out .2s;
                z-index: 107;
                cursor: pointer;  

                input {
                    margin: 0;
                    opacity: 0; 

                    &:checked + p::before {
                        content: "\f192";
                        font-family: "FontAwesome";
                        margin-right: 14px;
                    }
                }

                p {
                    font-size: 14px;
                    font-family: "Gotham";
                    text-transform: uppercase;
                    z-index: 109;
                    cursor: pointer;
                      
                    &::before {
                        content: "\f10c";
                        font-family: "FontAwesome";
                        margin-right: 14px;
                    }
                }
            }
        }
    }

    #socialWrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        z-index: 110;

        .socialEl {
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 50%;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
            color: white;
            transition: ease-in-out .2s;
            z-index: 111;
            cursor: pointer;

            &:hover {
                transform: scale(2.2);
                border: 1px solid transparent;
            }

            a {
                color: inherit;
                text-decoration: none;
                z-index: 112;
            }
        }

    }

}
  