@font-face {
	font-family: 'gothambold1';
    src: url('../fonts/gothamBold/gothambold1.ttf')format('truetype'),
         url('../fonts/gothamBold/gothambold1.woff') format('woff');
}

@font-face {
	font-family: 'GothamBook';
    src: url('../fonts/GothamBook/GothamBook.woff') format('woff'), 
         url('../fonts/GothamBook/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamMedReg';
    src: url('../fonts/GothamMediumRegular/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/GothamMediumRegular/gotham-medium-webfont.woff2') format('woff2'), 
         url('../fonts/GothamMediumRegular/gotham-medium-webfont.ttf') format('truetype');
}
 * {
     scroll-behavior: smooth;
 }

body {
    background-color: #516cf1;
    // background: linear-gradient(173deg, rgba(85,183,255,1) 19%, rgba(126,90,255,1) 86%);
    margin: 0;
    padding: 0;
}


@import "header";
@import "slider";
@import "what-we-do";
