@font-face {
  font-family: 'gothambold1';
  src: url("../fonts/gothamBold/gothambold1.ttf") format("truetype"), url("../fonts/gothamBold/gothambold1.woff") format("woff");
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamMedReg';
  src: url("../fonts/GothamMediumRegular/gotham-medium-webfont.woff") format("woff"), url("../fonts/GothamMediumRegular/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/GothamMediumRegular/gotham-medium-webfont.ttf") format("truetype");
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #516cf1;
  margin: 0;
  padding: 0;
}

#preHeader {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 175px;
  z-index: 500;
}

#preHeader:hover + header {
  top: 5%;
}

header {
  position: fixed;
  top: -200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 73.125%;
  max-width: 1200px;
  min-width: 880px;
  height: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.815% 57.25% 18.815%;
      grid-template-columns: 18.815% 57.25% 18.815%;
  gap: 2.56%;
  -webkit-transition: ease-out .5s;
  transition: ease-out .5s;
  border-radius: 30px;
  z-index: 501;
}

header:hover {
  top: 5%;
}

header #logoWrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  left: 20px;
}

header #logoWrapper #logo {
  width: 95%;
  background-image: url(../img/logo.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

header #nav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

header #nav .navEl {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

header #nav .navEl label {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 1fr;
      grid-template-columns: 0fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  cursor: pointer;
}

header #nav .navEl label input {
  margin: 0;
  opacity: 0;
}

header #nav .navEl label input:checked + p::before {
  content: "\f192";
  font-family: "FontAwesome";
  margin-right: 14px;
}

header #nav .navEl label p {
  font-size: 14px;
  font-family: "Gotham";
  text-transform: uppercase;
}

header #nav .navEl label p::before {
  content: "\f10c";
  font-family: "FontAwesome";
  margin-right: 14px;
}

header #socialWrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #socialWrapper .socialEl {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

header #socialWrapper .socialEl:hover {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  border: 1px solid transparent;
}

header #socialWrapper .socialEl a {
  color: inherit;
  text-decoration: none;
}

#headerSliderWrapper {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 100%;
  min-height: 800px;
  max-height: 1000px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 50;
}

#headerSliderWrapper .headerSlider {
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 100%;
  min-height: 800px;
  max-height: 1000px;
  background-image: url(../img/header-slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#headerSliderWrapper .headerSlider .slide {
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 100%;
  min-height: 800px;
  max-height: 1000px;
}

#headerSliderWrapper .headerSlider .slide1 {
  background-image: url(../img/header-slider-slide1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#headerSliderWrapper .headerSlider .slide1 div {
  width: 100%;
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#headerSliderWrapper .headerSlider .slide1 div p:first-child {
  margin: 0;
  font-size: 80px;
  font-family: "Gotham";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 5px;
}

#headerSliderWrapper .headerSlider .slide1 div p:last-child {
  margin: 0;
  font-size: 18px;
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

#headerSliderWrapper .headerSlider .slide2, #headerSliderWrapper .headerSlider .slide3, #headerSliderWrapper .headerSlider .slide4, #headerSliderWrapper .headerSlider .slide5 {
  position: relative;
}

#headerSliderWrapper .headerSlider .slide2 div, #headerSliderWrapper .headerSlider .slide3 div, #headerSliderWrapper .headerSlider .slide4 div, #headerSliderWrapper .headerSlider .slide5 div {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#headerSliderWrapper .headerSlider .slide2 div p:first-child, #headerSliderWrapper .headerSlider .slide3 div p:first-child, #headerSliderWrapper .headerSlider .slide4 div p:first-child, #headerSliderWrapper .headerSlider .slide5 div p:first-child {
  margin: 0;
  font-size: 45px;
  font-family: "Gotham";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 3px;
}

#headerSliderWrapper .headerSlider .slide2 div p:last-child, #headerSliderWrapper .headerSlider .slide3 div p:last-child, #headerSliderWrapper .headerSlider .slide4 div p:last-child, #headerSliderWrapper .headerSlider .slide5 div p:last-child {
  margin: 0;
  font-size: 38px;
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#headerSliderWrapper #scrollButtonWrapper {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  height: 200px;
  margin: 0;
  z-index: 100;
}

#headerSliderWrapper #scrollButtonWrapper:hover #scrollButton {
  opacity: .5;
}

#headerSliderWrapper #scrollButtonWrapper #scrollButton {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  border: 1px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  z-index: 101;
  cursor: pointer;
}

#headerSliderWrapper #scrollButtonWrapper #scrollButton:hover {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

#whatWeDo {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 1630px;
  margin: auto;
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

#whatWeDo #sectionTitleWrapper {
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3px 77px;
      grid-template-rows: 3px 77px;
  width: 400px;
  height: 150px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

#whatWeDo #sectionTitleWrapper hr {
  width: 100px;
  margin: 0;
}

#whatWeDo #sectionTitleWrapper h1 {
  font-size: 44px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: .7;
  margin: 0;
  margin-top: 37px;
}

#whatWeDo #tradeCenterImgBg {
  width: 36.5625%;
  height: 470px;
  background-color: #55b7ff;
  position: absolute;
  left: 0px;
  top: 275px;
}

#whatWeDo #tradeCenterImg {
  background-color: #2c4058;
  background-image: url(../img/trade-center-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 13.4375%;
  top: 342px;
  width: 39.375%;
  height: 470px;
}

#whatWeDo #tradeCenterInfoWrapper {
  width: 31.25%;
  height: 470px;
  position: absolute;
  right: 8%;
  top: 342px;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterSubtitle {
  font-size: 20px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterTitle {
  font-size: 40px;
  font-family: "Gotham";
  font-weight: bold;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterText {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  margin: 0;
  margin-top: 40px;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterButton {
  width: 38%;
  min-width: 150px;
  height: 50px;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  background-color: white;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterButton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterButton:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-in-out .075s;
  transition: ease-in-out .075s;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterButton p {
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
}

#whatWeDo #tradeCenterInfoWrapper #tradeCenterLocation {
  font-size: 18px;
  font-family: "Open Sans";
  font-style: italic;
  color: #2c4058;
  margin: 0;
  margin-top: 60px;
}

#whatWeDo #commerceCentreImgBg {
  background-color: #7e5aff;
  position: absolute;
  right: 0px;
  top: 950px;
  width: 36.5625%;
  height: 470px;
}

#whatWeDo #commerceCentreImg {
  background-color: #2c4058;
  background-image: url(../img/commerce-centre-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 13.4375%;
  top: 1020px;
  width: 39.375%;
  height: 470px;
}

#whatWeDo #commerceCentreInfoWrapper {
  width: 31.25%;
  height: 470px;
  position: absolute;
  left: 8%;
  top: 1020px;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreSubtitle {
  font-size: 20px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreTitle {
  font-size: 40px;
  font-family: "Gotham";
  font-weight: bold;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreText {
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  margin: 0;
  margin-top: 40px;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreButton {
  width: 38%;
  min-width: 150px;
  height: 50px;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  background-color: white;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreButton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreButton:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-in-out .075s;
  transition: ease-in-out .075s;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreButton p {
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
}

#whatWeDo #commerceCentreInfoWrapper #commerceCentreLocation {
  font-size: 18px;
  font-family: "Open Sans";
  font-style: italic;
  color: #2c4058;
  margin: 0;
  margin-top: 60px;
}

#news {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 1030px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/news-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#news #newsTitleWrapper {
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3px 77px;
      grid-template-rows: 3px 77px;
  width: 400px;
  height: 150px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

#news #newsTitleWrapper hr {
  width: 100px;
  margin: 0;
}

#news #newsTitleWrapper h1 {
  font-size: 44px;
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  line-height: .7;
  margin: 0;
  margin-top: 37px;
}

#news #newsSlider {
  width: 73.125%;
  min-width: 1170px;
  height: 515px;
  position: absolute;
  top: 315px;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#news #newsSlider .newsSlide {
  height: 100%;
  min-height: 515px;
  width: 31.6%;
  min-width: 370px;
  margin-right: 20px;
  position: relative;
  background-color: white;
}

#news #newsSlider .newsSlide .newsSlideImg {
  width: 100%;
  height: 46%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#news #newsSlider .newsSlide .newsSlideTitle {
  width: 100%;
  height: 12%;
  position: absolute;
  top: 260px;
  left: 20px;
  font-size: 24px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#news #newsSlider .newsSlide .newsSlideSubtitle {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 340px;
  left: 20px;
  font-size: 17px;
  font-family: "Open Sans";
  color: #4b5562;
  font-weight: bold;
  margin: 0;
}

#news #newsSlider .newsSlide .newsSlideAuthorPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 425px;
  left: 20px;
}

#news #newsSlider .newsSlide .newsSlideAuthorName {
  width: 100%;
  height: 3.5%;
  position: absolute;
  top: 435px;
  left: 100px;
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
}

#news #newsSlider .newsSlide .newsSlideDate {
  width: 100%;
  height: 2.7%;
  position: absolute;
  top: 460px;
  left: 100px;
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  text-transform: uppercase;
  margin: 0;
}

#news #newsSlider ._09_Feb_2017 {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 313.937px;
  top: 3200.503px;
  z-index: 163;
}

#news #newsSlider .newsSlide1 .newsSlideImg {
  background-image: url(../img/newsSlideImg1.png);
}

#news #newsSlider .newsSlide1 .newsSlideAuthorPhoto {
  background-image: url(../img/newsSlideImgAuthor1.png);
}

#news #newsSlider .newsSlide2 .newsSlideImg {
  background-image: url(../img/newsSlideImg2.png);
}

#news #newsSlider .newsSlide2 .newsSlideAuthorPhoto {
  background-image: url(../img/newsSlideImgAuthor2.png);
}

#news #newsSlider .newsSlide3 .newsSlideImg {
  background-image: url(../img/newsSlideImg3.png);
}

#news #newsSlider .newsSlide3 .newsSlideAuthorPhoto {
  background-image: url(../img/newsSlideImgAuthor3.png);
}

#news #newsSlider .newsSlide4 .newsSlideImg {
  background-color: #9e098a;
}

#news #newsSlider .newsSlide5 .newsSlideImg {
  background-color: #ffc400;
}

#news #newsSlider .newsSlide6 .newsSlideImg {
  background-color: #ad0000;
}

#gallery {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 1000px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

#gallery #galleryTitleWrapper {
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3px 77px;
      grid-template-rows: 3px 77px;
  width: 400px;
  height: 150px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

#gallery #galleryTitleWrapper hr {
  width: 100px;
  margin: 0;
}

#gallery #galleryTitleWrapper h1 {
  font-size: 44px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: .7;
  margin: 0;
  margin-top: 37px;
}

#gallery #galleryGrid {
  width: 73.125%;
  height: 440px;
  position: absolute;
  top: 310px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px;
}

#gallery #galleryGrid:hover .galleryGridEl {
  opacity: .2;
}

#gallery #galleryGrid .galleryGridEl {
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

#gallery #galleryGrid .galleryGridEl:hover {
  opacity: 1;
}

#gallery #galleryGrid #galleryGridEl1 {
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../img/galleryGridEl1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery #galleryGrid #galleryGridEl1:hover #symbolWrapper {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#gallery #galleryGrid #galleryGridEl1 #symbolWrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  background-image: url(../img/360.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: ease-in-out .6s;
  transition: ease-in-out .6s;
  cursor: pointer;
}

#gallery #galleryGrid #galleryGridEl1 #symbolWrapper:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.15);
          transform: translate(-50%, -50%) scale(1.15);
}

#gallery #galleryGrid #galleryGridEl1 #symbolWrapper:active {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

#gallery #galleryGrid #galleryGridEl2 {
  background-image: url(../img/galleryGridEl2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery #galleryGrid #galleryGridEl3 {
  background-image: url(../img/galleryGridEl3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery #galleryGrid #galleryGridEl4 {
  background-image: url(../img/galleryGridEl4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery #galleryGrid #galleryGridEl5 {
  background-image: url(../img/galleryGridEl5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery #galleryButton {
  position: absolute;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 190px;
  height: 50px;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  background-color: white;
}

#gallery #galleryButton:hover {
  -webkit-transform: translateX(-50%) scale(1.15);
          transform: translateX(-50%) scale(1.15);
}

#gallery #galleryButton:active {
  -webkit-transform: translateX(-50%) scale(1.05);
          transform: translateX(-50%) scale(1.05);
  -webkit-transition: ease-in-out .075s;
  transition: ease-in-out .075s;
}

#gallery #galleryButton p {
  font-size: 14px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */